body{
    margin:0;
    padding:0;
    box-sizing:0;
    color:#fff;
    
}



#square {
    
    /* border:2px solid red; */
    /* width:80px;
    height:80px;
    background-color: blueviolet;
    background-size:cover;
    cursor: pointer; */

    position: absolute;
	background-color: rgb(117, 0, 128);
	height: 60px;
	width: 70px;
	text-align: center;
	font-size: 1rem;
	color:white;
	padding-top: 10px;
}

/* .txt{
    display: inline-block;
    text-align: center;
    position: relative;
    top:10px;
    left:5px;
} */
